<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm" >
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping Address</h4>
        <button class="btn btn-outline-success mb-3" (click)="saveUserAddress()" 
        [disabled]="!checkoutForm.get('addressForm')?.valid ||
        !checkoutForm.get('addressForm')?.dirty">
        Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-test-inputs [label]="'First name'" formControlName="firstName"></app-test-inputs>
        </div>
        <div class="form-group col-6">
            <app-test-inputs [label]="'last name'" formControlName="lastName"></app-test-inputs>
        </div>
        <div class="form-group col-6">
            <app-test-inputs [label]="'street'" formControlName="street"></app-test-inputs>
        </div>
        <div class="form-group col-6">
            <app-test-inputs [label]="'City'" formControlName="city"></app-test-inputs>
        </div>
        <div class="form-group col-6">
            <app-test-inputs [label]="'State'" formControlName="state"></app-test-inputs>
        </div>
        <div class="form-group col-6">
            <app-test-inputs [label]="'Zip code'" formControlName="zipcode"></app-test-inputs>
        </div>
    </div>

</div>
<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left">
            Bask to Basket
        </i>
    </button>
    <button class="btn btn-primary" cdkStepperNext>
        <i class="fa fa-angle-right">
            Go to Delivery
        </i>
    </button>

</div>