<div class="container">
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p>There is no items in your Basket</p>
    </div>
    <ng-container  *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container mt-5">
            <div class="row">
                    <app-basket-summary
                    (addItem)="incrementQuantity($event)"
                    (removeItem)="RemoveItem($event)"
                    ></app-basket-summary>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                    <app-order-totals></app-order-totals>
                    <div class="d-grid">
                        <a href="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>