<header class="d-flex  flex-row align-items-center justify-content-between pb-23 px-4 mb-5 
bg-white border-bottom fixed-top shadow-sm" style="padding-top: 20px;" >
    <img src="assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">

      <nav class="my-6 tex-uppercase fs-4">
        <a class="p-2  " 
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >Home</a>
        <a class="p-2  " routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2  " routerLink="/test-error" routerLinkActive="active">Error</a>
      </nav>
      <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
          <i class="class fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="class cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign-up</a>


      </div>
  </header>